version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      time: "05:00"
      timezone: Asia/Tokyo
    cooldown:
      default-days: 7
    assignees:
      - sue445

  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      timezone: Asia/Tokyo
      time: "05:00"
    open-pull-requests-limit: 99
    cooldown:
      default-days: 7
      exclude:
        - rubicure
    assignees:
      - sue445
    versioning-strategy: lockfile-only
